version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: django_api
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - ALLOWED_HOSTS=${PUBLIC_IP}
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://${PUBLIC_IP}:8000
    container_name: react_frontend
    environment:
      - VITE_API_URL=http://${PUBLIC_IP}:8000
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
